aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
annotated-types
anyio
attrs
audioop-lts
banks
beautifulsoup4
black
brotli
certifi
cffi
charset-normalizer
click
colorama
dataclasses-json
defusedxml
deprecated
dirtyjson
distro
docx2txt
dotenv
fastapi
ffmpy
filelock
filetype
frozenlist
fsspec
gradio
gradio-client
greenlet
griffe
groovy
grpcio
h11
hf-xet
httpcore
httpx
httpx-sse
huggingface-hub
idna
isort
jinja2
jiter
joblib
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
llama-cloud
llama-cloud-services
llama-index
llama-index-cli
llama-index-core
llama-index-embeddings-huggingface
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-instrumentation
llama-index-llms-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-index-workflows
llama-parse
markdown-it-py
markupsafe
marshmallow
mdurl
milvus-lite
mpmath
multidict
mypy-extensions
nest-asyncio
networkx
nltk
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openai
orjson
packaging
pandas
pathspec
pillow
platformdirs
propcache
protobuf
pycparser
pydantic
pydantic-core
pydantic-settings
pydub
pygments
pymilvus
pypdf
python-dateutil
python-dotenv
python-multipart
pytz
pyyaml
regex
requests
requests-toolbelt
rich
ruff
safehttpx
safetensors
scikit-learn
scipy
semantic-version
sentence-transformers
setuptools
shellingham
six
sniffio
soupsieve
sqlalchemy
starlette
striprtf
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
tomlkit
torch
tqdm
transformers
triton
typer
typing-extensions
typing-inspect
typing-inspection
tzdata
ujson
urllib3
uvicorn
websockets
wrapt
yarl
zstandard
